body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  line-height: 1.4em;
  align-items: center;
  background: #EEEEEE;
}

#main { 
  background: white;
  max-width: 700px; 
  padding: 3em;
  box-shadow: 0px 1px 4px 0;
  margin-top: 2em;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

h2 {
  margin-top: 0;
}

@media (max-width: 800px) {
  #main {
    flex-grow: 1;
    margin-top: 0;
  }
}
